.container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 35px 16px;
  justify-content: center;
}
.product {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark-brown-text-color);
    text-transform: uppercase;
  }
  &__review-box {
    display: flex;
    flex-direction: row;
    gap: 15px;
    border-bottom: 1px solid var(--brown-text-color);
    padding-bottom: 20px;
  }
  &__review-icon {
    width: 100px;
    background-image: url("../../../assets/images/quote.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__review-text {
    font-size: 0.8rem;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
  }
  &__price-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid var(--brown-text-color);
    padding-bottom: 20px;
  }
  &__price,
  &__discount {
    font-size: 1rem;
    font-weight: 500;
  }
  &__discount {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--green-text-color);
  }
  &__description {
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
  }
  &__order-counter {
    display: flex;
  }
  &__order-box,
  &__total-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__order-box {
    border-bottom: 1px solid var(--brown-text-color);
    padding-bottom: 20px;
    display: flex;
    align-items: center;
  }
  &__order-text {
    font-size: 1rem;
    font-weight: 500;
  }
  &__order-plus,
  &__order-minus,
  &__order-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--dark-brown-text-color);
    color: var(--dark-brown-text-color);
  }
  &__order-plus {
    border-left: none;
    cursor: pointer;
  }
  &__order-minus {
    border-right: none;
    cursor: pointer;
  }
  &__total-box {
    flex-direction: column;
    justify-content: flex-end;
  }
  &__total-price-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
  }
  &__total-price,
  &__total-text {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--green-text-color);
  }
  &__total-text {
    margin-right: 5px;
  }
  &__total-button {
    width: 100%;
    background-color: var(--button-default-background);
    border: none;
    padding: 10px 0;
    border-radius: 10px;
    color: var(--button-text);
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-family: "Roboto Slab", serif;
    transition: 0.3s ease-in-out;

    &:active {
      transition: 0.1s ease-in-out;
      scale: 0.99;
    }
  }
}

.swiper {
  width: 60%;
  // height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  &-slide {
    // width: 25%;
    // height: 100%;
    // background-position: center;
    aspect-ratio: 1 / 1;
    background-size: cover;
  }
  .swiper-pagination-bullet {
    background-color: var(--pages-background);
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--dark-brown-text-color);
    opacity: 1;
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: var(--pages-background);
  }
}

@media (hover: hover) and (pointer: fine) {
  .product__total-button:hover {
    background-color: var(--button-hover-background);
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .swiper {
    width: 90%;
  }
  .product {
    width: 90%;
  }
}
// @media (max-width: 768px) {
//   .swiper {
//     height: 300px;
//     width: 300px;
//   }
//   .product {
//     width: 90%;
//     &__title {
//       font-size: 1.4rem;
//     }
//     &__order-text {
//       font-size: 0.8rem;
//     }
//   }
// }
