.discount {
  background: var(--additional-pages-background);
  width: 100%;
}
.discount-block {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  padding: 1rem 0;
  margin: 0 auto;
  gap: 1rem;
  background: var(--additional-pages-background);
}

.discount-block__title {
  padding: 1rem;
  align-self: flex-start;
  font-size: 2rem;
  font-weight: 800;
  color: var(--dark-brown-text-color);
}

.discount-block__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;

  & > :nth-child(odd) {
    transform: rotate(-7deg);
    margin-right: -15px;
  }

  & > :nth-child(even) {
    transform: rotate(4deg);
    margin-left: -15px;
  }
}
