.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: white;
  border-radius: 20px;
}
.product-card__img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.product-card__content {
  display: flex;
  flex-direction: column;
  flex-direction: column;
}
.product-card__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.product-card__description {
  font-size: 16px;
  margin-bottom: 10px;
}
