.discount-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 470px;
  min-width: 200px;
  background: var(--header-background);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: rotate(-1deg);
  }
}
.discount-card__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: white;
  padding: 1rem;
}
.discount-card__img {
  width: 60px;
  height: 60px;
}
.discount-card__title {
  font-size: 1.2rem;
  font-weight: 500;
}
.discount-card__description {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.3rem;
}
.discount-card__promo-code {
  align-self: flex-end;
  font-size: 1rem;
  font-weight: 500;
}
.discount-card__advice {
  font-weight: 300;
  font-size: 0.7rem;
}
