.user-profile__change-password {
  background: var(--additional-pages-background);
  color: var(--dark-brown-text-color);
  cursor: pointer;
  border-radius: 12px;
  font-size: 24px;
  transition: all 0.6s;

  .plate__section {
    gap: 40px;
    &-title {
      position: relative;
      font-size: 60px;
      transform: translateY(100%);
      transition: all 0.6s ease-in;
    }

    &-content-wrapper {
      visibility: hidden;
      pointer-events: none;
      transform: scale(0);
      transition: all 0.6s ease-in;
    }
  }
}

.plate__edit-mode {
  .plate__section-content-wrapper {
    visibility: visible;
    pointer-events: all;
    transform: scale(1);
  }
  .plate__section-title {
    font-size: 30px;
    transform: translateY(0);
    font-weight: 600;
  }
}

@media (hover: hover) and (pointer: fine) {
  .user-profile__basic:hover {
    filter: brightness(1) drop-shadow(1px 1px black);
  }
}
