.switcher {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 43px;
  height: 20px;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
  }

  &__checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--button-text);
    border: 1px solid var(--button-default-background);
    transition: 0.4s;
    border-radius: 30px;

    &:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      border-radius: 50%;
      left: 0px;
      bottom: 1px;
      background-color: var(--button-default-background);
      transition: 0.4s;
    }
  }
}
.switcher__text-box {
  font-size: 14px;
  margin-bottom: 5px;
}
.switcher__checkbox:checked + .switcher__slider {
  background-color: var(--green-text-color);
  border: 1px solid var(--button-default-background);
}

.switcher__checkbox:focus + .switcher__slider {
  box-shadow: 0 0 1px var(--green-text-color);
}

.switcher__checkbox:checked + .switcher__slider:before {
  transform: translateX(1.4em);
  background-color: var(--button-text);
}

@media (hover: hover) and (pointer: fine) {
  .switcher__slider:hover {
    filter: brightness(1.1);

    &::before {
      transform: scale(1.05);
    }
  }
}
