.product-line {
  display: flex;
  align-items: center;
  gap: 20px;
  // padding: 0.5rem 0;
}

.product-line__img {
  width: 80px;
  height: 80px;
}

.product-line__name {
}

.product-line__price {
}

.product-line__discount-price {
}

.product-line__currency {
}

.product-line__price-block {
}

.product-line__quantity {
}

.product-line__minus {
}

.product-line__plus {
}

.product-line__delete {
}

.product-line__total-line-item-price {
}
