.user-profile__shipping-card,
.user-profile__billing-card {
  position: relative;

  background: var(--additional-pages-background);
  color: var(--dark-brown-text-color);
  border-radius: 12px;
  font-size: 24px;
  transition: all 0.6s;

  .plate__section {
    gap: 40px;
    &-title {
      font-size: 30px;
    }
  }
}

.user-profile__shipping-block {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

@media (hover: hover) and (pointer: fine) {
  .user-profile__shipping:hover {
    filter: brightness(1) drop-shadow(1px 1px black);
  }
}
