@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

:root {
  --login-register-pages-background: #bbb192;
  --main-pages-background: #f8f4e7;
  --button-default-background: #403b30;
  --button-hover-background: #488a0f;
  --button-disabled-background: transparent;
  --button-text: #f8f4e7;
  --button-disabled-text-border: #cbccd3;
  --login-register-border: #403b30;
  --dark-brown-text-color: #24221f;
  --white-text-color: #ffffff;
  --green-text-color: #488a0f;
  --placeholder-text-color: #bcbec0;
  --error-text-border: #d42020;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  background-color: var(--login-register-pages-background);
}
