:root {
  --pages-background: #f8f4e7;
  --additional-pages-background: #bbb192;
  --background-glass-effect: #ffffff1f;
  --button-default-background: #403b30;
  --button-hover-background: #488a0f;
  --button-disabled-background: #bfbfbf;
  --button-text: #f8f4e7;
  --button-disabled-text-border: #cbccd3;
  --login-register-border: #403b30;
  --dark-brown-text-color: #24221f;
  --brown-text-color: #8c6545;
  --white-text-color: #ffffff;
  --beige-text-color: #fcf8f7;
  --logo-text: #ff3c11;
  --green-text-color: #488a0f;
  --placeholder-text-color: #9a9b9c;
  --error-text-border: #dd1133;
  --header-background: #49503c;
  --profile-plate-background: #667054;
  --profile-plate-apply-btn: #488a0f;
  --profile-plate-cancel-btn: #d42020;
  --profile-plate-edit-mode: #46522e;
}
