.header {
  display: flex;
  align-items: center;
  height: 120px;
  background: var(--main-pages-background);
}

.header__logo {
  width: 60px;
  padding: 0.5rem;
}

.header__logo-img {
  display: block;
  max-width: 100%;
}

.header__title {
  font-size: 1.4rem;
  padding: 0.5rem;
  color: var(--green-text-color);
}

.navigation {
  flex-grow: 1;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav__item {
  &_hidden {
    display: none;
  }

  list-style-type: none;

  .nav__link {
    display: flex;
    gap: 0.1rem;
    align-items: center;

    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--dark-brown-text-color);
  }

  &_active {
    .nav__link {
      color: var(--green-text-color);
    }

    .nav__icon {
      filter: invert(42%) sepia(11%) saturate(5861%) hue-rotate(57deg)
        brightness(96%) contrast(88%);
    }
  }

  .nav__icon {
    width: 24px;
    height: 24px;
  }
}
