.plate {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
  background: var(--placeholder-text-color);

  &__section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    &-content-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;
      justify-content: center;
    }

    &-subtitle {
      font-weight: 800;
    }

    &-input {
      text-align: center;
      padding: 8px;
      border-radius: 6px;
      color: var(--button-text);
      width: 100%;
    }
  }

  &__edit-mark,
  &__apply-btn {
    width: 90px;
    padding: 10px 15px;
    align-self: flex-end;
  }

  &__inner-wrapper {
    display: flex;
    flex-direction: column;
  }
}
