.plate {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border: 3px solid var(--login-register-border);
  border-radius: 6px;
  max-width: 740px;
  background: var(--placeholder-text-color);

  &__section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    &-content-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;
      justify-content: center;
    }

    &-subtitle {
      font-weight: 800;
    }

    &-input {
      text-align: center;
      padding: 8px;
      border-radius: 6px;
      color: var(--button-text);
      width: 100%;
    }
  }

  &__button {
    align-self: flex-end;
    border: none;
    cursor: pointer;

    &-wrapper {
      display: flex;
      gap: 20px;
      align-self: flex-end;
    }
  }

  &__apply-btn {
    background: url("../../../../assets/images/apply-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
  }

  &__edit-mark {
    background: url("../../../../assets/images/edit-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
  }

  &__cancel-btn {
    background: url("../../../../assets/images/cancel-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
  }

  &__inner-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__edit-mode {
    position: relative;
    background: var(--profile-plate-edit-mode) !important;
    box-shadow: 0 0 20px var(--profile-plate-apply-btn);

    .plate__section-input {
      color: black;
    }
  }

  &__pending {
    pointer-events: none;
    filter: saturate(0.2);
  }
}

@media (hover: hover) and (pointer: fine) {
  .plate__button:hover {
    filter: brightness(1.1);
  }
}
