.modal-loading-screen {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

.modal-loading-screen__content {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 10px;
}

.modal-loading-screen__img {
  width: 100px;
  height: 100px;
}
